{% extends 'base.html' %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Operator name: {{ current_user.username }}</h2>
          <p class="text-secondary">Contact: {{ current_user.user_email }}</p>
        </div>
    </div>
    <div class="container">
        <h4>Requests for bank products</h4>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Request Id</th>
                      <th scope="col">Date</th>
                      <th scope="col">Product</th>
                      <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>2020-08-01</td>
                      <td>open a bank card</td>
                      <td>Ivan</td>
                        <td>Ivanov</td>
                      <td>+7(915)0000000</td>
                        <td>under consideration</td>
                    </tr>
                    </tbody>
                    </table>
            </div>
            <div class="col col-lg-2">
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Status
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Cancelled</a>
                    <a class="dropdown-item" href="#">Under consideration</a>
                    <a class="dropdown-item" href="#">Done</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}