{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('user.requests')}}" method="GET">
    <div class="content-section">
    <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Operator name: {{ current_user.username }}</h2>
          <p class="text-secondary">Contact: {{ current_user.user_email }}</p>
        </div>
    </div>
    <br>
    <div class="container">
        <h4>Requests for bank products</h4>
        <a class="btn btn-outline-secondary" href="/user/requests" role="button">Requests all</a>
        <a class="btn btn-outline-warning" href="/user/requests/considers" role="button">Requests considers</a>
        <a class="btn btn-outline-success" href="/user/requests/done" role="button">Requests done</a>
        <a class="btn btn-outline-danger" href="/user/requests/refused" role="button">Requests refused</a>
        <br>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Request Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Product</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Passport series</th>
                        <th scope="col">Passport number</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
                    </tr>
                    </thead>
                    {% for request in request_list %}
                    <tbody>
                        <tr>
                        <th scope="row">{{ request.id }}</th>
                        <td>{{ request.date_add }}</td>
                        <td>{{ request.product }}</td>
                        <td>{{ request.first_name_client }}</td>
                        <td>{{ request.last_name_client }}</td>
                        <td>{{ request.passport_series }}</td>
                        <td>{{ request.passport_number }}</td>
                        <td>{{ request.phone_client }}</td>
                        <td>{{ request.status_request }}</td>
                        <td><a href="/user/request_client/{{request.id}}" class="text-decoration-none">Details</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    </table>
                <div class="col col-lg-2">
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}